// Fonts

$font-nunito: 'Nunito';
$font-lato: 'Lato';

// Colores

$grisPunto: #BFBFBF;
$grisLine: #C0C0C0;
$blancoNov: #F2F2F2;
$grisLetras: #585858;
$grisTitle: #333333;
$negro: #000000;
$blanco: #FFFFFF;
$grisCard: #E6E8EA;
$rosadoOff: #F8475F;
$letrasCard: #7A7A7A;
$grisSlide: #BDBDBD;